body {
    background-image: url(abc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
  }

  .submit {
    width: 150px;
    color: white;
    background-color: green;
    }
    
  div {border-radius: 32px;
    background: #55b9f3;
    box-shadow:  5px 5px 100px #3a7ea5, 
                 -5px -5px 100px #70f4ff;
    width: 70%;
    padding-bottom: 20px;

  }
  .submit:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }

  #demotext {
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
    }
  
  h1 {
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
  }
  
  
  
